---
import Layout from "../layouts/Layout.astro";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
import { Button } from "@/components/ui/button";
---

<Layout title="Crear guía">
  <section class="pt-24 max-w-[1200px] mx-auto px-4">
    <h1 class="text-6xl font-black text-center">Crear guía</h1>
    <!-- titulo -->
    <div class="my-4">
      <label for="titulo" class="text-xl">Título del artículo</label>
      <Input
        type="text"
        name="titulo"
        id="titulo"
        className="border-black"
        placeholder="Escriba aquí el título del artículo"
      />
    </div>

    <!-- descriptcion -->
    <div class="my-4">
      <label for="descripcion" class="text-xl">Descripción del artículo</label>
      <Input
        type="text"
        name="descripcion"
        id="titulo"
        className="border-black"
        placeholder="Escriba aquí una pequeña descripción del artículo"
      />
    </div>

    <!-- contenido -->
    <div class="my-4">
      <label for="contenido" class="text-xl">Contenido del artículo</label>
      <Textarea
        name="contenido"
        id="contenido"
        placeholder="Escriba aquí el contenido del artículo"
        className="border-black"
      />
    </div>

    <!-- foto -->
    <div class="my-4">
      <label for="foto" class="text-xl">Foto del artículo</label>
      <Input
        type="text"
        name="foto"
        id="titulo"
        className="border-black"
        placeholder="Ingrese aquí el link de una imagen para artículo"
      />
    </div>

    <!-- categoria -->
    <div class="my-4">
      <label for="categoria" class="text-xl">Categoría del artículo</label>
      <Input
        type="text"
        name="foto"
        id="titulo"
        className="border-black"
        placeholder="Ingrese aquí el link de una imagen para artículo"
      />
    </div>

    <!-- button -->
    <div class="text-right">
      <Button>Publicar artículo</Button>
    </div>
  </section>
</Layout>
