---
import { Button } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import Layout from "../layouts/Layout.astro";

const heroBtnsStyles = "text-xl px-12 py-6 font-bold border-black border-2";
---

<Layout title="Welcome to Astro.">
  <section
    id="hero"
    class="bg-[#edf0f7] w-full min-h-screen flex justify-center items-center flex-col"
  >
    <!-- title -->
    <h1 class="text-8xl font-black text-center">Medi Guía App</h1>
    <!-- <p class="text-2xl font-bold mt-12">Buscar algo en especifíco</p> -->
    <!-- search input -->
    <!-- <input
      type="text"
      name="search"
      id="search"
      class="w-[600px] h-10 mt-3 rounded-sm shadow-md"
    /> -->

    <!-- buttons -->
    <div class="my-4 grid grid-cols-2 gap-4">
      <a href="/procedimientos">
        <Button className={heroBtnsStyles}>Procedimientos</Button>
      </a>
      <a href="/productos">
        <Button className={heroBtnsStyles} variant="outline"
          >Productos médicos</Button
        >
      </a>
    </div>
  </section>

  <!-- guias -->
  <section class="my-20">
    <div class="max-w-6xl m-auto">
      <h2 class="text-center text-4xl font-bold my-4">Guías recientes</h2>

      <p class="m-auto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
        necessitatibus deleniti fugiat culpa excepturi voluptates minima nulla,
        totam minus? Dolor dolorem sint possimus earum animi quidem. Odit
        repellat assumenda saepe. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Impedit odio facilis distinctio, vero, id
        reprehenderit deleniti perspiciatis cupiditate itaque architecto quos
        iure expedita pariatur quasi ad ea ab officiis maxime.
      </p>
    </div>

    <div class="grid grid-cols-3 max-w-[1600px] gap-4 m-auto my-12">
      <Card className="">
        <CardHeader>
          <img
            src="https://www.poresto.net/u/fotografias/fotosnoticias/2020/7/24/4455.jpeg"
            alt=""
          />
          <CardTitle>Create project</CardTitle>
          >Deploy your new project in one-click.</CardHeader
        >
        <CardContent>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
            deserunt impedit quam aliquam molestiae deleniti magni voluptas est
            perspiciatis aliquid voluptatum
          </p>
        </CardContent>
        <CardFooter className="flex justify-between">
          <Button variant="outline">Cancel</Button>
          <Button>Deploy</Button>
        </CardFooter>
      </Card>

      <!-- second card -->
      <Card>
        <CardHeader>
          <img
            src="https://www.poresto.net/u/fotografias/fotosnoticias/2020/7/24/4455.jpeg"
            alt=""
          />
          <CardTitle>Create project</CardTitle>
          >Deploy your new project in one-click.</CardHeader
        >
        <CardContent>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
            deserunt impedit quam aliquam molestiae deleniti magni voluptas est
            perspiciatis aliquid voluptatum
          </p>
        </CardContent>
        <CardFooter className="flex justify-between">
          <Button variant="outline">Cancel</Button>
          <Button>Deploy</Button>
        </CardFooter>
      </Card>

      <!-- third card -->
      <Card>
        <CardHeader>
          <img
            src="https://www.poresto.net/u/fotografias/fotosnoticias/2020/7/24/4455.jpeg"
            alt=""
          />
          <CardTitle>Create project</CardTitle>
          >Deploy your new project in one-click.</CardHeader
        >
        <CardContent>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos
            deserunt impedit quam aliquam molestiae deleniti magni voluptas est
            perspiciatis aliquid voluptatum
          </p>
        </CardContent>
        <CardFooter className="flex justify-between">
          <Button variant="outline">Cancel</Button>
          <Button>Deploy</Button>
        </CardFooter>
      </Card>
    </div>

    <hr />

    <!-- TODO: add link -->
    <center>
      <Button className="my-4 text-center">Ver todas las guías nuevas</Button>
    </center>
  </section>

  <!-- create guides -->
  <section
    class="bg-[#edf0f7] min-h-[500px] flex flex-col justify-center items-center"
  >
    <p class="text-6xl">Crear guía</p>
    <p class="text-xl text-extrabold max-w-[1200px] my-12">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint facilis
      officia architecto, ea qui reiciendis sed fugiat blanditiis. Quaerat error
      laudantium quo saepe numquam enim eligendi dolore, harum nobis sint!
    </p>
    <a href="/crearguia">
      <Button>Crear guía</Button>
    </a>
  </section>

  <footer class="bg-black text-white p-12 pt-24">
    <span class="font-black font-2xl">Medi Guía App</span>
    <div class="flex my-4">
      <span class="mx-4">Política de privacidad</span>
      <span class="mx-4">Terminos y condiciones</span>
      <span class="mx-4">Política de cookies</span>
      <span class="mx-4">Contacto</span>
    </div>
  </footer>
</Layout>
