---
import Layout from "../layouts/Layout.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Button } from "@/components/ui/button";
import { Badge } from "@/components/ui/badge";

const estudiosList = await Astro.glob("../pages/estudiosmedicos/*.md");

const data = await fetch("http://localhost:8080/api/articulos").then(
  (response: Response) => {
    if (response.ok) {
      return response.json();
    }
  }
);
---

<Layout title="Procedimientos">
  <section class="pt-24 mb-12">
    <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold my-12 text-center">
      Procedimientos
    </h1>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 m-auto max-w-[1400px]"
    >
      {
        // TODO: any
        data.map((estudio: any) => {
          return (
            <Card>
              <CardHeader>
                <img
                  src={estudio.foto}
                  class="h-[300px] w-full object-cover"
                  alt=""
                />
              </CardHeader>
              <CardContent>
                <CardTitle className="text-2xl">{estudio.titulo}</CardTitle>
                <CardDescription className="text-xl">
                  {estudio.descripcion}
                </CardDescription>
              </CardContent>
              <CardFooter className="flex justify-between">
                <Badge className="text-lg">
                  {estudio.categoria.replace("_", " ")}
                </Badge>
                <a href={`/procedimiento/${estudio.id}`}>
                  <Button className="text-lg">Ver más</Button>
                </a>
              </CardFooter>
            </Card>
          );
        })
      }
    </div>
  </section>
</Layout>
