---
const items = [
  { name: "Home", href: "/" },
  { name: "About", href: "/about" },
  { name: "Contact", href: "/contact" },
];
---

<nav
  class="fixed bg-white w-full flex justify-between items-center text-2xl font-bold p-4"
>
  <a href="/">
    <span>Medi Guía App</span>
  </a>
  <ul class="flex">
    {
      items.map((item) => {
        return (
          <li class="mx-4 text-2xl">
            <a href={item.href}>{item.name}</a>
          </li>
        );
      })
    }
  </ul>
</nav>
