---
import "@/styles/globals.css";
import { Button } from "@/components/ui/button";

const items = [
  { name: "Procedimientos", href: "/" },
  { name: "Productos", href: "/about" },
  { name: "Crear Publicación", href: "/creapublicacion" },
];
---

<nav
  class="fixed bg-white w-full flex justify-between items-center text-xl font-bold px-20 py-4"
>
  <a href="/">
    <span>Medi Guía App</span>
  </a>
  <ul class="flex">
    {
      items.map((item) => {
        return (
          <li class="mx-4 flex items-center">
            <a href={item.href}>
              {item.href === "/creapublicacion" ? (
                <Button className="text-xl">{item.name}</Button>
              ) : (
                item.name
              )}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>
