---

---

<nav>
  <a href="/">
    <span>Medi Guía App</span>
  </a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/estudiosmedicos">Estudios Médicos</a></li>
    <li><a href="">Blog</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
    position: fixed;
    background: #fff;
    width: 100%;
  }
  ul {
    display: flex;
    list-style: none;
  }
  li {
    margin: 0 1em;
  }
  span {
    margin: 0 1em;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
